body {
    height: 100vh;
}

.site {
    max-width: var(--layout-width, 60em);
    margin: 0 auto;
}

/* Header Styles --- START*/

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 0;
}

.site-branding h1 {
    padding-top: 0.5em;
    font-size: var(--site-title-font-size, 15px);
}

.site-branding a {
    text-decoration: none;
    font-weight: 600;
}

/* Header Styles --- END*/

/* ----------------------------- */

/* Main Styles --- START */

.site-main {
    height: 62vh;
}

.site-main img {
    position: absolute;
    width: 100vw;
    height: auto;
}

/* Main Styles --- END */

/* Footer Styles --- START */

.site-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 2px solid black;

    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding: 0 2em;

    background-color: var(--footer-bg-color,rgb(5, 57, 107));
    color: var(--footer-font-color,rgb(237, 245, 224));
}

.foot-item {
    width: 32%;
}

.contacts ul,
.useful-links ul {
    list-style: none;
    padding: 0;
}

.useful-links li a {
    text-decoration: none;
    color: var(--footer-font-color,rgb(237, 245, 224));
}

.useful-links li a:hover {
    color: var(--footer-link-hover-color, rgb(92, 219, 148));
}


/* Footer Styles --- END */


