.channels-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    min-width: var(--site-content-width, 65em);
    overflow: hidden;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 1em 0;

    button {
        background-color: black;
        color: white;
        padding: 1em;
        font-weight: bold;
        border: none;
        border-radius: 3.5em;
        display: inline-block;
        width: 15em;
        height: 4em;
        transform: perspective(1px) translateZ(0);
        transition-duration: 0.3s;
        transition-property: box-shadow;

        &:active,
        &:hover {
            cursor: pointer;
            box-shadow: 0 0 8px rgba(0, 0, 0, 2.6);
        }

        @include bp(mobile){
            margin-bottom: 0.5em;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    @include bp(mobile){
        flex-direction: column;
        align-items: center;
        align-content: space-around;
        justify-content: space-between;
    }
}

.basic-channels-gallery,
.extended-channels-gallery,
.all-channels-gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0.5em 0.5em;
    grid-auto-flow: dense;
    margin: 2em 0;
    list-style: none outside;
    padding: 0;

    @include bp(mobile){
        grid-template-columns: repeat(1, 100%);
        width: 100%;
    }

    li {
        display: block;
        position: relative;
        width: 160px;
        height: 160px;
        overflow: hidden;
        
        &:before {
            display: block;
            content: "";
            padding-top: 100%;
        }

        @include bp(mobile){
            width: 250px;
            height: 250px;
        }
    }

    img {
        justify-self: stretch;
        display: block;
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        border: 1.5px solid #4FB480;
        padding: 0.2em;
        height: 100%;
        width: 100%;
        -webkit-box-shadow: 0px 0px 16px -4px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 16px -4px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 16px -4px rgba(0,0,0,0.75);
        -webkit-box-shadow: inset 0px 0px 16px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 0px 0px 16px 0px rgba(0,0,0,0.75);
        box-shadow: inset 0px 0px 16px 0px rgba(0,0,0,0.75);

        &:hover {
            transform: scale(1.1);
        }
    }
}
