.site-footer {
    background-color: var(--theme-color-1, #29648A);
    position: relative;
    flex-shrink: 0;
    margin-top: auto;
    width: 100%;

    @include bp(small-desktop){
        display: flex;
        flex-wrap: wrap;
    }
}

.main-part {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em 0;
    color: var(--footer-font-color,rgb(237, 245, 224));

    @include bp(mobile) {
        flex-direction: column;
        align-items: center;
    }

    @include bp(tablet){
        flex-direction: column;
        align-items: center;
    }

    @include bp(small-desktop){
        display: flex;
        flex-wrap: wrap;
    }
}

.foot-item {
    width: 19em;
    height: auto;
    margin-right: 5em;
    
    @include bp(mobile){
        margin: 0;
        width: 80%;
    }

    @include bp(tablet){
        margin: 0;
        width: 80%;
    }

    @include bp(small-desktop){
        width: 40%;
    }
}

.foot-item:last-child {
    margin-right: 0em;
}

.footer-branding {
    @include bp(small-desktop){
        width: 80%;
    }
}

.footer-branding h3 {
    margin-bottom: 0.5em;
    font-weight: 600;
    border-bottom: 2px solid white;
}

.footer-branding p{
    font-size: 0.88em;
    font-weight: 300;
}

.contacts {
    a {
        text-decoration: none;
        color: white;
        font-weight: 400;

        &:hover {
            color: #4FB480;
            font-weight: 700;
        }
    }

    strong {
        font-weight: 500;
    }
}

.contacts h4,
.useful-links h4 {
    font-weight: 600;
}

.contacts h4::after,
.useful-links h4::after {
    content:' ';
    display:block;
    border:2px solid white;
    border-radius: 0.5px;
    width: 20%;
    margin-top: 0.4em;
}

.contacts ul,
.useful-links ul {
    list-style: none;
    padding: 0;
}

.useful-links li a {
    text-decoration: none;
    color: var(--footer-font-color,rgb(237, 245, 224));
}

.useful-links li a:hover {
    color: var(--footer-link-hover-color, rgb(92, 219, 148));
}

.rights {
    display: flex;
    justify-content: space-between;
    background-color: black;
    font-size: 0.9em;
    color: white;
    padding: 0 3em;

    @include bp(mobile){
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
        font-size: 0.7em;
    }

    @include bp(tablet){
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
        font-size: 0.7em;
    }

    @include bp(small-desktop){
        width: 100%;
    }
}

.pages {
    @include bp(mobile){
        display: none;
    }

    @include bp(tablet){
        display: none;
    }

    ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 0;
    }

    ul li {
        padding-right: 1em;
    }

    ul li:last-child {
        padding-right: 0;
    }

    li a {
        color: white;
        text-decoration: none;
    }
}