.site-header {
    background-color: var(--theme-color-5, #AAABB8);
}

.nav {
    font-size: var(--navigation-font-size, 15px);

    @include bp(mobile) {
        display: none;
    }

    @include bp(tablet) {
        display: none;
    }
}   

.nav ul {
    padding-bottom: 0;

    display: flex;
    transition: top 300ms ease-in;

    @include bp(small-desktop){
        display: flex;
    }

    @include bp(mobile){
        display: flex;
        flex-direction: column;
        padding-left: 0;
    }

    @include bp(tablet){
        display: flex;
        flex-direction: column;
        padding-left: 0;
    }

    @include bp(small-phone){
        display: flex;
        flex-direction: column;
        padding-left: 0;
    }
}

.nav ul li {
    display: block;
}

.nav a {
    width: 100%;
    display: block;
    padding: 0.5em 1em;
    color: #333;
    font-weight: 400;
    text-decoration: none;

    box-shadow: 0 0 1px rgba(0, 0, 0, 0);

    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    transition-property: box-shadow;
}

.nav a:hover {
    font-weight: 600;
}

.nav-toggle {
    position: absolute;
    pointer-events: none;
    visibility: hidden;

    &:checked + .nav {
        @include bp(mobile) {
            display: block;
            width: 100%;
            text-align: center;
            background-color: gray;
            padding: 0;
        }

        @include bp(tablet) {
            display: block;
            width: 100%;
            text-align: center;
            background-color: gray;
            padding: 0;
        }

    }

    &-label {
        margin-right: 1em;
        margin-bottom: 1em;
        display: none;

        @include bp(small-desktop){
            display: none;
        }

        @include bp(tablet){
            display: block;
        }

        @include bp(small-phone){
            display: block;
        }

        @include bp(mobile){
            display: block;
        }
    }
}

