.site-header {
    background-color: var(--theme-color-5, #AAABB8);
}

.nav {
    text-align: right;
    font-size: var(--navigation-font-size, 15px);
    font-weight: 600;
}   

.nav ul {
    display: flex;
    padding-bottom: 0;
}

.nav ul li {
    display: block;
}

.nav a {
    display: block;
    padding: 0.5em 1em;
    color: #333;
    font-weight: 400;
    text-decoration: none;
}

.nav a:hover {
    color: rgb(0, 136, 122);
    font-weight: 600;
}

.site > input {
    display: block;
    position: absolute;
    visibility: hidden;
    pointer-events: none;
}

/* .site-nav-toggle + .site-header .nav > ul {
    background-color: red;
}

.site-nav-toggle:checked + .site-header .nav > ul {
    background-color: green;
}  */

