.site-header {
    background-color: var(--theme-color-5, #AAABB8);
}

.nav {
    font-size: var(--navigation-font-size, 15px);

    @include bp(mobile) {
        display: none;
    }
}   

.nav ul {
    padding-bottom: 0;

    @include bp(desktop) {
        display: flex;
    }
}

.nav ul li {
    display: block;
}

.nav a {
    display: block;
    padding: 0.5em 1em;
    color: #333;
    font-weight: 400;
    text-decoration: none;
}

.nav a:hover {
    color: rgb(0, 136, 122);
    font-weight: 600;
}

.nav-toggle {
    position: absolute;
    pointer-events: none;
    visibility: hidden;

    &:checked + .nav {
        @include bp(mobile) {
            display: block;
            width: 100%;
            text-align: center;
            background-color: gray;
            padding: 0;
        }
    }

    &-label {

        @include bp(desktop) {
            display: none;
        }

    }
}

