:root {
    --font-size: 16px;
    --font-line-height: 1.5em;
    --font-family-main: 'Open Sans', sans-serif;

    --layout-width: 100vw;
    --layout-padding-b: 1.5em;

    --site-title-font-size: 1.7em;
    --site-main-width: 100%;

    --site-content-width: 65em;

    --navigation-font-size: 0.9em;

    /* FOOTER */
    /* --footer-bg-color: rgb(5, 57, 107); */
    --footer-bg-color: black;
    --footer-font-color: rgb(237, 245, 224);
    --footer-link-hover-color: rgb(92, 219, 148);

    // Colour Theme Variables
    --theme-color-1: black;
    --theme-color-2: #31708E;
    --theme-color-3: #5085A5;
    --theme-color-4: #8FC1E3;
    --theme-color-5: #F7F9FB;
}