.contacts-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: var(--site-content-width, 60em);
    justify-content: space-between;
}

.contacts-info {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.contacts-info h2 {
    margin-bottom: 1em;
}

.contacts-info p {
    padding-bottom: 0.3em;
}

.contacts-info ul {
    list-style: none;
    padding-left: 0;
}

.contacts-info ul li {
    margin-bottom: 0.5em;
}

.map {
    min-width: 59%;
}

.map iframe {
    width: 100%;
    height: 55vh;
    margin-top: 20px;
    margin-bottom: 30px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 4px 4px 14px #000;
    -webkit-box-shadow: 4px 4px 14px #000;
    box-shadow: 4px 4px 14px #000;
}